@mixin styleBanner {
    border-radius: 10px;
    height: 111px;
    @media screen and (min-width: 376px) {
        height: 150px;
    }
    @media screen and (min-width: 763px) {
        border-radius: 25px;
        height: 223px;
    }
}
@mixin bannerProprety {
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin bannerHome1240 {
    // @include styleBanner();
    @include bannerProprety();
    background-image: url("../assets/banner-home-1240.webp");
    background-position: bottom;
}

@mixin bannerAbout1240 {
    // @include styleBanner();
    @include bannerProprety();
    background-image: url("../assets/banner-about-1240.webp");
    background-position: right;
}
@mixin bannerAbout375 {
    @include bannerProprety();
    background-image: url("../assets/banner-about-375.webp");
}

.bannerWrapper {
    @include styleBanner();
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
    @media screen and (min-width: 376px) {
        justify-content: center;
    }

    &--opacity {
        @include styleBanner();
        position: absolute;
        background-color: black;
        opacity: 0.2;
        width: 100%;
    }
    &__para {
        top: 0;
        z-index: 1;
        padding: 31px 16px;
        font-size: 6.4vw;
        @media screen and (min-width: 763px) {
            font-size: 48px;
        }
    }
}

.active-home {
    @include bannerHome1240();
}

.active-about {
    @include bannerAbout375();
    @media screen and (min-width: 376px) {
        @include bannerAbout1240()
    }
}
