@import "./globalStyle";

.collapse {
    @include globalMargin();
    margin-bottom: 20px;

    @media screen and (min-width: 1023px) {
        max-width: 1023px;
    }
    @media screen and (min-width: 1144px) {
        margin: auto;
        margin-bottom: 35px;
    }

    & .collapsible {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        font-size: 13px;
        background-color: $primary-color;
        color: $secondary-color;
        width: 100%;
        border-radius: 5px;
        border: none;
        height: 30px;
        cursor: pointer;
        @media screen and (min-width: 1140px) {
            height: 56px;
            font-size: 24px;
        }

        &__image {
            @media screen and (min-width: 1140px) {
                width: 24px;
            }
        }
    }
    & .collapseContent {
        display: none;
        overflow: hidden;
        position: relative;
        top: -4px;
        background-color: $bg-color;
        padding: 19px 20px;
        border-radius: 0 0 5px 5px;
        &__para {
            color: $primary-color;
            font-size: 12px;
            @media screen and (min-width: 1140px) {
                font-size: 18px;
            }
        }
    }
    & .active {
        display: block;
    }
}
