@import "./globalStyle";

.collapse {
    @include globalMargin();
    margin-bottom: 20px;

    @media screen and (min-width: 1023px) {
        max-width: 1023px;
    }
    @media screen and (min-width: 1144px) {
        margin: auto;
        margin-bottom: 35px;
    }

    & .collapseContent {
        display: none;
        overflow: hidden;
        position: relative;
        top: -4px;
        background-color: $bg-color;
        padding: 19px 20px;
        border-radius: 0 0 5px 5px;
        &__para {
            color: $primary-color;
            font-size: 12px;
            @media screen and (min-width: 1140px) {
                font-size: 18px;
            }
        }
    }
    & .active {
        display: block;
    }
}
