@import "./globalStyle";

.footer {
    height: 209px;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 27px;
    @media screen and (min-width: 620px) {
        margin-top: 50px;
    }
    &__logo {
        width: 122px;
    }

    &__para {
        text-align: center;
        width: 40%;
        color: $secondary-color;
    }
}
