.footer {
    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &__logo {
        width: 122px;
    }

    &__para {
        text-align: center;
        width: 40%;
        color: white;
    }
}
