.header {
    margin: 20px 0 27px 0;
    padding: 0 20px;

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & h1 {
            margin: 0;
        }

        & img {
            width: 75%;
        }
        & .nav__links {
            display: flex;
            gap: 20px;

            & a {
                font-size: 12px;
                text-wrap: nowrap;
                text-decoration: none;
                @media screen and (min-width: 374px) {
                    font-size: 16px;
                }
                @media screen and (min-width: 763px) {
                    font-size: 24px;
                }
            }
            & .active {
                text-decoration: underline;
            }
        }
    }
}
