@import "./globalStyle";

body {
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main{
    // max-width: 1240px;
}

h1,
h2,
h3,
a {
    color: $primary-color;
}

p {
    color: $secondary-color;
    margin: 0;
}
